*      text=auto
*.json text
*.lock text
*.py   text
*.toml text

.editorconfig   text
.gitattributes  text export-ignore
.gitignore      text export-ignore
.python-version text

# Overrides
.vscode/*.json linguist-language=jsonc
